@model TTAnhNgu.HOC_VIEN

@{
    ViewBag.Title = "EditStudent";
    Layout = "~/Areas/Admin/Views/Shared/_AdminNavSidenav.cshtml";
}

@using (Html.BeginForm("EditStudent", "Student", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="container p-0">
            <div class="row justify-content-center">
                <div class="col-lg">
                    <div class="card border-0 rounded-lg">
                        <div><h3 class="font-weight-light my-4">Chỉnh sửa học viên</h3></div>
                        <div class="card-body p-0">
                            
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Tên học viên</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HV_HOTEN, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HV_HOTEN, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">CCCD</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HV_CCCD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HV_CCCD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Giới tính</label>
                                <div class="col-md-12">
                                    @*<input type="radio" name="GV_GIOITINH" value=0 />Nam*@
                                    @*<input type="radio" name="GV_GIOITINH" value=1 />Nữ*@
                                    @Html.Label("Nam")
                                    @Html.RadioButtonFor(model => model.HV_GIOITINH, false)
                                    @Html.Label("Nữ")
                                    @Html.RadioButtonFor(model => model.HV_GIOITINH, true)
                                    @Html.ValidationMessageFor(model => model.HV_GIOITINH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Ngày sinh</label>
                                <div class="col-md-12">
                                    @if (Model.HV_NGAYSINH != null)
                                    {
                                        @Html.TextBoxFor(model => model.HV_NGAYSINH, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", type = "date" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.HV_NGAYSINH, new { @class = "form-control datepicker", type = "date" })
                                    }
                                    @Html.ValidationMessageFor(model => model.HV_NGAYSINH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Địa chỉ</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HV_DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HV_DIACHI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Số điện thoại</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HV_SDT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HV_SDT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Email</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HV_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => model.HV_EMAIL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Mật khẩu</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.HV_MATKHAU, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.HV_MATKHAU, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group mb-3 row align-items-center">
                                <label class="control-label col-md-3 align-self-center">Hình đại diện</label>
                                <div class="col-md-12">
                                    <input id="file" type="file" name="fileEdit" placeholder="Chọn hình ảnh đại diện" />
                                    @Html.ValidationMessageFor(model => model.HV_HINHANH, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center py-1">
                            <div class="d-flex align-items-center justify-content-center mb-0">
                                @Html.ActionLink("Quay trở về", "getListStudent", null, new { @class = "small m-1", @style = "text-decoration:none;" })
                                <input type="submit" value="Lưu" class="btn btn-primary m-1" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
